@model Projekt_BDwAI_Magazyn.Models.Order

@{
    ViewData["Title"] = "Szczegóły zamówienia";
    var total = Model.Items.Sum(i => i.UnitPrice * i.Quantity);
}

<h1>Zamówienie #@Model.Id</h1>

<div class="mb-3">
    <div><strong>Data:</strong> @Model.CreatedAt.ToLocalTime()</div>
    <div><strong>Notatka:</strong> @Model.Notes</div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>SKU</th>
            <th>Ilość</th>
            <th>Cena szt.</th>
            <th>Wartość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Items)
        {
            <tr>
                <td>@i.Product?.Name</td>
                <td>@i.Product?.Sku</td>
                <td>@i.Quantity</td>
                <td>@i.UnitPrice</td>
                <td>@(i.UnitPrice* i.Quantity)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-end">Razem:</th>
            <th>@total</th>
        </tr>
    </tfoot>
</table>

<p>
    <a asp-action="Index">Powrót</a>
</p>
